<div class='container'>
  <div class="row" style="margin: 30px 0px ; margin-left: -200px;">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 ml-auto mr-auto text-left">
      <div class="page_title_box">
        <span class="page_title">
          <strong>マイページ</strong>
        </span>
      </div>
    </div>
  </div>
  <div>
    <h2><strong>登録情報</strong></h2>
      <div class="actions">
        <%= link_to '編集する', "#" ,class:"btn btn-success" ,style:"padding: 0px 20px;"%>
      </div>
  </div>
  <div class='col-md-8 offset-md-1'>
    <table class='table .table-bordered'>
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
        <tbody>
            <tr>
              <td>氏名</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
  </div>
  
  <div>
    <h2><strong>配送先</strong></h2>
      <div class="actions">
        <%= link_to '一覧を見る', "#" ,class:"btn btn-primary" ,style:"padding: 2px 30px;"%>
      </div>
  </div>
  <div>
    <h2><strong>注文履歴</strong></h2>
      <div class="actions">
        <%= link_to '一覧を見る', "#" ,class:"btn btn-primary" ,style:"padding: 2px 30px;"%>
      </div>
  </div>
  
</div>