<div class='container'>
  <div class="row" style="margin: 30px 0px">
    <div class="col-md-10 offset-md-1">
      <div class="page_title_box">
        <span class="page_title">
          <strong>注文履歴詳細</strong>
        </span>
      </div>
    </div>
  </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-2">
            <label>購入者</label>
          </div>
          <div class="col-sm-4">
            <%= link_to @customer.name, admin_customer_path(@customer)  ,style: "color: black; text-decoration: underline;"%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>注文日</label>
          </div>
          <div class="col-sm-4">
            <%= @order_details.created_at.strftime("%Y/%-m/%-d") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>配送先</label>
          </div>
          <div class="col-sm-4">
            <%= @order_details.order.address %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>支払方法</label>
          </div>
          <div class="col-sm-4">
            <%= @order_details.order.payment_method_i18n %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label>注文ステータス</label>
          </div>
          <div class="col-sm-4">
            -
          </div>
        </div>
      </div>
    </div>
</div>