<div class='container'>
  <div class="row" style="margin: 30px 0px ; margin-left: -200px;">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 ml-auto mr-auto text-left">
      <div class="page_title_box">
        <span class="page_title">
          <strong>商品一覧</strong>
        </span>
      </div>
    </div>
  </div>
<div class='col-md-8 offset-md-1'>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th bgcolor="#EEEEEE">商品ID</th>
          <th bgcolor="#EEEEEE">商品名</th>
          <th bgcolor="#EEEEEE">税抜き価格</th>
          <th bgcolor="#EEEEEE">ジャンル</th>
          <th bgcolor="#EEEEEE">ステータス</th>
        </tr>
      </thead>
        <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
</div>