<div class='container'>
  <div class="row">
    <div class="col-md-3" style="margin-top: 40px;">
      <h3><strong>商品一覧</strong></h3>
    </div>
  </div>
</div>
<div class='container'>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div><%= link_to image_tag(item.image, size: '200x150'), item_path(item) %></div>
        <div><%= item.name %></div>
        <div>￥<%= item.price %></div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 text-center ml-auto mr-auto">
    <%= paginate @items %>
  </div>
</div>